.l-region--footer .block {
	margin: 20px;
}

@include breakpoint($tab, true) {

  /* footer blocks in columns */
  .l-region--footer .block, .l-region--footer .block:first-child {
      width: 33.3%;
      float: left;
  }

}