.pane-cod-sponsors-panel-pane-1 { 
  margin-top: 30px; 
  background-color: $gold;
  .bg { background-color: $gold; }
  h2 { margin-top: 0; color: #fff; }
}
.view-cod-sponsors {
	h3 { margin-bottom: 0; }
	ul {
		background: #fff;
		margin: 0;
		padding: 10px;
	}
	ul li.views-row {
		display: inline-block;
		list-style: none;
	}
	.views-field-field-sponsor-logo img {
		width: auto;
		height: auto;
		max-height: 120px;
		max-width: 230px;
	}
}