.pane-cod-sponsors { 
  margin-top: 30px; 
  background-color: $gold;
  .bg { background-color: $gold; }
  h2 { margin-top: 0; color: #fff; }
}
.view-cod-sponsors {
	h3 { margin-bottom: 0; }
	.view-results {
		background: #fff;
	}
	.sponsor img {
		width: auto;
		height: auto;
		max-height: 120px;
		max-width: 230px;
	}
}