/*******************************************************************************
 * govcon.layout.scss
 *
 * Styles for the GovCon layout.
 ******************************************************************************/
/* line 13, ../../../sass/layouts/govcon/govcon.layout.scss */
.l-constrained, .l-region--highlighted, .l-region--footer {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
  *zoom: 1; }
  /* line 38, ../../../../../../../../../../../.rvm/gems/ruby-1.9.3-p551/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .l-constrained:after, .l-region--highlighted:after, .l-region--footer:after {
    content: "";
    display: table;
    clear: both; }

/* Nav */
/* Header */
/* line 23, ../../../sass/layouts/govcon/govcon.layout.scss */
.l-header {
  position: relative; }

/* line 26, ../../../sass/layouts/govcon/govcon.layout.scss */
.l-region--header {
  padding: 18px 0; }

/* Content Area */
/* line 31, ../../../sass/layouts/govcon/govcon.layout.scss */
.l-highlighted-wrapper {
  padding: 18px 0; }

/* line 37, ../../../sass/layouts/govcon/govcon.layout.scss */
.l-region--help {
  margin-bottom: 18px; }

/* line 40, ../../../sass/layouts/govcon/govcon.layout.scss */
.l-main {
  margin-top: 160px;
  margin-bottom: 36px; }

/* Sidebars */
/* line 46, ../../../sass/layouts/govcon/govcon.layout.scss */
.l-region--sidebar-first,
.l-region--sidebar-second {
  padding: 18px 1em; }

/* Footer */
/* line 52, ../../../sass/layouts/govcon/govcon.layout.scss */
.l-footer-wrapper {
  padding: 18px 0; }

@media (min-width: 44em) {
  /* line 60, ../../../sass/layouts/govcon/govcon.layout.scss */
  .l-constrained, .l-region--highlighted, .l-region--footer {
    width: 100%; }

  /* line 63, ../../../sass/layouts/govcon/govcon.layout.scss */
  .l-region--navigation {
    height: 60px; }

  /* Sidebars */
  /* line 67, ../../../sass/layouts/govcon/govcon.layout.scss */
  .has-two-sidebars .l-content,
  .has-one-sidebar .l-content {
    width: 66.10169%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  /* line 70, ../../../sass/layouts/govcon/govcon.layout.scss */
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second,
  .has-one-sidebar .l-region--sidebar-first,
  .has-one-sidebar .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: right; } }
@media (min-width: 70em) {
  /* Sidebars */
  /* line 82, ../../../sass/layouts/govcon/govcon.layout.scss */
  .has-one-sidebar .l-content {
    width: 66.10169%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  /* line 85, ../../../sass/layouts/govcon/govcon.layout.scss */
  .has-one-sidebar .l-region--sidebar-first {
    width: 32.20339%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: none; }

  /* line 91, ../../../sass/layouts/govcon/govcon.layout.scss */
  .has-two-sidebars .l-content {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  /* line 94, ../../../sass/layouts/govcon/govcon.layout.scss */
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
    clear: none; }
  /* line 99, ../../../sass/layouts/govcon/govcon.layout.scss */
  .has-two-sidebars .l-region--sidebar-second {
    width: 23.72881%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

/*# sourceMappingURL=govcon.layout.css.map */
