table {
	width: 100%;
	@include box-shadow(0 0 0 2px $gold);
	margin: 4px;
	th {
		background: lighten($gold,20%);
		padding: 0.5em;
		width:99%
	}
	tr {
		width: 99%;
	}
	tr.odd {
		background-color: #fff;
	}
	tr.even {
		background-color: $ecru;
	}
	td {
		padding: 0.5em;
		width:99%;
	}
}