body {
	font-family: $sans-serif;
}

h1 {
	text-transform: uppercase;
	font-weight: 900;
	color: $blue;
	font-size: 2em;
	line-height: 1.1;
	position: relative;
	@include letterpress;
}
h1:after {
	@include texture-text;
}
h2 {
	font-family: $script;
	color: $red;
	font-size: 2em;
	font-weight: normal;
  letter-spacing: 0;
  margin-bottom: 0;
}
a {
	color: $blue;
	text-decoration: none;
	font-weight: 700;
}
a:hover, a:focus {
	color: $red;
}

@include breakpoint($tab, true) {
  h1 {
		font-size: 3em;
	}
}

@include breakpoint($tab, true) {
  h1 {
		font-size: 4em;
	}
}
