/* Colors 
*  light blue = #70a3eb
*  light gray = #b7b9bb
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body.admin-menu { margin-top: 29px !important; }

/* -- Headings -- */

h1, h2, h3, h3 { font-family: 'Open Sans', sans-serif; letter-spacing: -1px; }

h1 { font-size: 2.6em; }
h2 { font-size: 2.2em; padding-bottom: 15px; }

/* -- Layout -- */

#page-wrapper, #page, #main-wrapper { background: none; }
#header { background: #70a3eb; }
#page-wrapper { background-color: #70a3eb; }
#main #content { background: #fff; display: inline-block; width: 100%; }
#main #content .panel-panel.header { display: none; }
.region-header { margin: 5px 0; }

/* -- Branding -- */

#logo {
  padding: 15px 15px 15px 0; /* LTR */
  margin-left: 10px;
  background: url(../images/logo_reverse.png) transparent no-repeat center center;
  background-size: 100% auto;
  width: 75%;
  height: auto;
  overflow: hidden;
  position: relative;
}
#logo img { position: relative; top: -100px; }

/* -- Menus -- */

#main-menu { clear: none; float: right; }
#main-menu ul li a { color: #b7b9bb; text-transform: uppercase; font-weight: bold; text-shadow: none; font-size: 1.2em; height: 24px; line-height: 24px; padding: 20px 10px; display: inline-block; white-space: nowrap; }
#main-menu ul li a:hover, #main-menu ul li a:focus { color: #70a3eb; }

/* -- Mega Menu -- */

.tb-megamenu { background: none; }

.tb-megamenu .nav > li > a,
.tb-megamenu .nav > .active > a, 
.tb-megamenu .nav > .active > a:hover, 
.tb-megamenu .nav > .active > a:focus,
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle, 
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, 
.tb-megamenu .nav > li.dropdown.open.active > a:hover {
  background: none;
  border: none;
  color: #b7b9bb;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 25px;
}

.tb-megamenu .nav li.dropdown.open > .dropdown-toggle .caret, 
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle .caret, 
.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #b7b9bb;
  border-bottom-color: #b7b9bb;
}
.tb-megamenu .nav > li.mega.menu-register > a {
  background: url(../images/login-icon.png) no-repeat 0 50%;
}
.tb-megamenu .nav > li.mega.menu-search > a {
  background: url(../images/search-icon.png) no-repeat 0 50%;
}
.tb-megamenu .nav > li.mega.menu-home > a, .tb-megamenu .nav > .active.mega.menu-home > a {
  background: url(../images/menu-icon.png) no-repeat 0 50%;
}

/* -- Panels -- */

.panel-panel.unit { width: 100%; }

/* -- Breadcrumb -- */

.breadcrumb { background-color: #fff; }

/* -- Responsive -- */

@media all and (min-width: 560px) and (max-width: 850px) {
  
  #messages { position: absolute; width: 100%; }
  #main-wrapper { padding-top: 170px; background: url(../images/ccgd-banner-home-s.png) #70a3eb no-repeat 50% top;}
  #header { background: #fff; }
  #logo { background: none; width: auto; }
  #logo img { top: 0; }
}

@media all and (min-width: 851px) and (max-width: 1100px) {
  
  #messages { position: absolute; width: 100%; }
  #main-wrapper { padding-top: 280px; background: url(../images/ccgd-banner-home-m.png) #70a3eb no-repeat 50% top; }
  #block-system-main .left { width: 63%; }
  #block-system-main .right { width: 37%; }
  #header { background: #fff; }
  #logo { background: none; width: auto; }
  #logo img { top: 0; }

}

@media all and (min-width: 1101px) {
  
  #messages #messages { position: absolute; width: 100%; }
  #main-wrapper { padding-top: 390px; background: url(../images/ccgd-banner-home-l.png) #70a3eb no-repeat 50% top; }
  #block-system-main .left { width: 63%; }
  #block-system-main .right { width: 37%; }
  #header { background: #fff; }
  #logo { background: none; width: auto; }
  #logo img { top: 0; }
  
}

/* -- Mobile menu -- */
@media all and (max-width: 900px) {
  .tb-megamenu .nav-collapse { width: 300px; right: 0; }
  .tb-megamenu .nav > li.mega > a { background: none !important; }
  #main-menu-links li { width: auto; }
}